/* 
Colors used
Text Color (Dark Gray): #2b2b2b;
Backgroud Color (Sky Blue): #d4e5f6;
Visited Link (BlueViolet): #8a2be2;
Link Hover (Alizarin Crimson): #e32636;
Active Link (Castleton Green): #00563f;
*/

:root {
    --primary-color: #0000ff;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b; 
}

.profile-picture{
    float:left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

* {
    box-sizing: border-box;
}

.page-header{
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header_item {
    flex: 0 1 50px;
}

.page-header_item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #d4e5f6;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

a {
   color: var(--primary-color); 
}

a:visited{
    color:#8a2be2;
}
a:hover, a:focus { 
    /*No underlining when hovering over a link */
    text-decoration: none;
    color: #e32636;
}

a:active{
    color: #00563f;
}


.button, button{
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    font-family: inherit;
    /* styles the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

button:hover, 
button:focus, 
.button:hover, 
.button:focus{
    cursor: pointer;
    opacity: 0.8;
}


.profile-section{
    max-width: 700px;
    margin: 0 auto;
}

/*start grid fallback*/
.grid_item{
    display: inline-block;
    width: 33%;
}
/*end grid fallback*/

@supports (display: grid){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 20px;
        padding: 10px;
    }

    .grid_item{
        background-color: lightgray;
        width: auto;
        min-height: auto;
        margin: 0;
    }

    .grid_item:last-child{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.page-footer{
    clear:both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* keyframes used for transitions and  animations*/
@keyframes color-change {
    0%{
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

/* selectors to activate animations*/
.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/*Media Queries*/
@media all and (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid{
        grid-template-columns: 1fr 1fr;
}
}
@media all and (max-width: 750px) {
    .grid{
     grid-gap: 10px;
    }
    .grid_item:last-child{
     grid-column: auto / auto;
     grid-row: auto / auto;
    }
    h1{
     font-size: 22px;
    }
 }